@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer components {
  .button-black {
    @apply flex w-full items-center justify-center gap-2 rounded-full border-2 border-neutral-900 bg-neutral-900 p-2 px-4 text-white transition-all disabled:bg-neutral-800;
  }
  .button-white {
    @apply flex w-full items-center justify-center gap-2 rounded-full border-2 border-neutral-900 bg-neutral-50 p-2 px-4 text-black transition-all disabled:bg-neutral-200;
  }
  .admin-title {
    @apply text-3xl font-bold;
  }
  .member-data-box {
    @apply rounded-lg bg-white p-4;
  }
  .member-data-title {
    @apply text-sm font-semibold text-neutral-600;
  }
  .member-data-content {
    @apply text-lg font-bold break-all;
  }
  .member-data-input {
    @apply w-full rounded-lg border-sky-500 bg-white p-2 px-3 text-lg font-semibold focus:border-2 focus:outline-none;
  }
  .member-data-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }
  .member-data-col-span {
    @apply col-span-1 sm:col-span-2 lg:col-span-3 xl:col-span-4;
  }
  .home-about-box {
    @apply flex flex-col rounded-2xl border-3 p-4 text-lg md:p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-logo-blue: #4285f4;
  --color-gdg-blue-100: #c3ecf6;
  --color-gdg-blue-200: #57caff;
  --color-gdg-blue-300: #4285f4;
  --color-gdg-green-100: #ccf6c5;
  --color-gdg-green-200: #5cdb6d;
  --color-gdg-green-300: #34a853;
  --color-gdg-yellow-100: #ffe7a5;
  --color-gdg-yellow-200: #ffd427;
  --color-gdg-yellow-300: #f9ab00;
  --color-gdg-red-100: #f8d8d8;
  --color-gdg-red-200: #ff7daf;
  --color-gdg-red-300: #ea4335;
  --color-gdg-white: #f0f0f0;
  --color-gdg-black: #1e1e1e;
}

.h-home-screen {
  height: calc(100vh - 4.2rem);
}
